[user]
	name = Gerbert Olivé
	email = gerbert.olive@gmail.com
[apply]
	whitespace = nowarn
[alias]
	co = checkout
	put = push origin HEAD
	track = !git-track
	thanks = !git-thanks
	workdir = !git-new-workdir
	up = !git pull --rebase && git push
	ignored = "!git ls-files --others --exclude-standard"
	nb = checkout -b
	pending = !git --no-pager log origin/master..master && echo
	db = !sh -c 'git branch -D "$0" && git push origin ":$0"' &> /dev/null
	missing = !sh -c 'git cherry "$0" | cut -sd + -f 2 | xargs "git show"'
	lc = log ORIG_HEAD.. --stat --no-merges
	conflicts = !git ls-files --unmerged | cut -c51- | sort -u | xargs $EDITOR
	resolve = !git ls-files --unmerged | cut -c51- | sort -u | xargs git add
	unstage = reset HEAD
	subadd = !sh -c 'git submodule add $(git config -f"$0".git/config remote.origin.url) "$0"'
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	who = shortlog -n -s --no-merges
	st = status -s
	ci = commit
	cim = commit -m
	br = branch
	raw = show -s --pretty=raw
[format]
	# pretty = format:"%Cblue%ar%Creset\t%s"
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[core]
	excludesfile = ~/.gitignore
	editor = mvim -f -c start
[mirror]
	summary = true
[branch]
	autosetupmerge = true
	autosetuprebase = always
[push]
	default = tracking
