[submodule "bash/bash.symlink/extra_scripts/bashmarks"]
	path = bash/bash.symlink/extra_scripts/bashmarks
	url = git://github.com/huyng/bashmarks.git
[submodule "vim/vim.symlink/bundle/snipmate.vim"]
	path = vim/vim.symlink/bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
	ignore = untracked
[submodule "vim/vim.symlink/bundle/matchit"]
	path = vim/vim.symlink/bundle/matchit
	url = git://github.com/vim-scripts/matchit.zip.git
	ignore = untracked
[submodule "vim/vim.symlink/bundle/textobj-user"]
	path = vim/vim.symlink/bundle/textobj-user
	url = git://github.com/kana/vim-textobj-user.git
	ignore = untracked
[submodule "vim/vim.symlink/bundle/textobj-rubyblock"]
	path = vim/vim.symlink/bundle/textobj-rubyblock
	url = git://github.com/nelstrom/vim-textobj-rubyblock.git
	ignore = untracked
[submodule "vim/vim.symlink/bundle/ack"]
	path = vim/vim.symlink/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
	ignore = untracked
[submodule "vim/vim.symlink/bundle/command-t"]
	path = vim/vim.symlink/bundle/command-t
	url = git://github.com/wincent/Command-T.git
	ignore = untracked
[submodule "vim/vim.symlink/bundle/fugitive"]
	path = vim/vim.symlink/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
	ignore = untracked
[submodule "vim/vim.symlink/bundle/bufonly"]
	path = vim/vim.symlink/bundle/bufonly
	url = git://github.com/duff/vim-bufonly.git
	ignore = untracked
[submodule "vim/vim.symlink/bundle/NERD-tree"]
	path = vim/vim.symlink/bundle/NERD-tree
	url = git://github.com/vim-scripts/The-NERD-tree.git
	ignore = untracked
[submodule "vim/vim.symlink/bundle/tabular"]
	path = vim/vim.symlink/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
	ignore = untracked
[submodule "vim/vim.symlink/bundle/haml"]
	path = vim/vim.symlink/bundle/haml
	url = git@github.com:golive/vim-haml.git
	ignore = untracked
[submodule "vim/vim.symlink/bundle/unimpaired"]
	path = vim/vim.symlink/bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
	ignore = untracked
[submodule "vim/vim.symlink/bundle/easymotion"]
	path = vim/vim.symlink/bundle/easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
	ignore = untracked
